<div class="cover">
    <div class="cover-container container">
        <div class="cover-content">
            {{#if @site.icon}}
                <div class="cover-icon">
                    <img class="cover-icon-image" src="{{@site.icon}}" alt="{{@site.title}}">
                </div>
            {{/if}}

            {{#if @site.description}}
                <h1 class="single-title">Thoughts, Stories, Ideas.</h1>
                <div class="cover-description">{{@site.description}}</div>
                <div class="cover-cta">
                    <button class="button members-subscribe" data-portal="signup">Subscribe now</button>
                    <button class="button button-secondary members-login" data-portal="signin">Login</button>
                </div>
            {{/if}}

            {{#if @labs.members}}
                {{#unless @member}}
                    <div class="cover-cta">
                        <button class="button members-subscribe" data-portal="signup">Subscribe now</button>
                        <button class="button button-secondary members-login" data-portal="signin">Login</button>
                    </div>
                {{/unless}}
            {{/if}}
        </div>
    </div>
</div>